{erl_opts,
 [debug_info,
  warn_export_vars,
  warn_untyped_record,
  warn_unused_import,
  warnings_as_errors]}.

{eunit_opts, [verbose]}.

{ct_readable, true}.

{deps, [{jsx, "~> 3.1"}]}.

{dialyzer,
 [{warnings,
   [error_handling,
    unknown,
    unmatched_returns]}]}.

{profiles,
 [{test,
   [{deps,
     [{bookish_spork, "~> 0.5.0"},
      {gun, "2.0.0-rc.2"},
      {hackney, "~> 1.18"}]},
    {dialyzer,
     [{plt_extra_apps,
       [bookish_spork,
        common_test,
        eunit,
        gun,
        hackney,
        inets]}]}]}]}.
